@import "variables";

.header {
  display: block;
  height: 9rem;
  background-color: $color-white;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
  }
  &__search {
    width: 30%;
    height: 100%;
    background-color: $color-grey-light;
    border-radius: 5rem;
    border: 0;
    height: 2.5rem;
    padding: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s ease-out;

    &:active,
    &:focus {
      border: 0;
      outline: none;
      width: 35%;
      background-color: $color-grey-very-light;
    }
  }
  &__account {
    margin-right: 2.5rem;
  }
}

.side-nav {
  margin: 1rem 0 10rem 0;

  &__list {
    list-style: none;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }
  }
  &__link {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.2rem;

    &:hover {
      color: $color-white;
    }
  }
}
