@import "variables";

.header {
  display: block;
  height: 9rem;
  background-color: $color-white;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  &__search {
  }
  &__account {
  }
}
