@import "variables";

.app-container {
  display: block;
  max-height: 85vh;
  max-width: 90vw;
  height: 100%;
  background-color: $color-white-transparent;
  box-shadow: $shadow-dark;
  margin: 5rem auto;
  border-radius: 1rem;
}

.layout {
  &__wrapper {
    display: block;
    height: 100%;
  }

  &__main-section {
    display: flex;
    height: 100%;
  }

  &__left {
    flex: 0 15%;
    background-color: $color-primary-transparent;
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 0 0 0 1rem;
  }

  &__right {
    flex: 1;
    height: 100%;
    padding: 2rem 2.5rem;
    border-radius: 0 0 1rem 0;
  }
}

.side-panel {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
