@import "variables";

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  grid-gap: 2rem;
  justify-content: start;
  justify-items: center;
  padding: initial;
}

.recipe {
  text-align: center;
  background-color: $color-primary-transparent;
  padding: 2rem;

  &__title {
    line-height: 5rem;
    margin-bottom: $margin-small;
    position: relative;
    
    h2 {
      font-weight: $font-weight-bold;
      font-size: $font-size-large;
    }
    svg {
      width: 3rem;
      height: auto;
      position: absolute;
      left: 2rem;
      top: 0.5rem;
    }
  }

  &__image {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    max-height: 30rem;
  }
  
  &__toolbar {
    margin-top: $margin-tiny;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__content {
    margin-top: $margin-small;

    display: flex;
    line-height: 3rem;
    text-align: left;
    font-size: 1.5rem;
  }

  &__ingredients {
    flex: 1;
    
    & > ul > li {
      // padding-left: 2rem;
      margin-bottom: .5rem;
      text-transform: lowercase;
    }
  }

  &__instructions {
    flex: 2;
  }
}
