// BREAKPOINTS 
$breakpoint-large: 68.75em; // 1100 px
$breakpoint-medium: 56.25em; // 900 px
$breakpoint-small: 37.5em; // 600 px
$breakpoint-smallest: 25em; // 400px


// COLORS
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.9);

$color-grey-light: #dcdcdc;
$color-grey-very-light: #efeeee;

$color-golden: #ff9800;


$color-primary: rgb(227, 202, 165);
$color-primary-transparent: rgb(227, 202, 165, 0.8);

// SHADOWS
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.3);
$shadow-light-small: 0 1rem 3rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

// FONT SIZES
$font-size-large: 4rem;

// FONT WEIGHT
$font-weight-bold: 500;

// MARGINS
$margin-small: 2rem;
$margin-xsmall: 1rem;
$margin-tiny: .5rem;